.orderModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;

  &__content {
    background-color: $belyy;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 40px;
    border-radius: 30px;
  }

  .orderModal__title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
  }

  .orderModal__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .orderModal__header {
      width: 100%;
      display: flex;
      align-items: flex-end;
      gap: 50px;
      strong {
        width: 30%;
        font-size: 20px;
      }
    }
  }

  .orderModal__info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .orderModal__info-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    span {
      display: flex;
      font-size: 20px;
    }
  }

  .orderModal__btn {
    display: block;
    color: $belyy;
    background-color: $krasnyy;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 30px;
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    transition: background-color 0.2s ease-in;

    &:hover {
      background-color: #dd1a21;
    }
  }

  .dots {
    flex: 1;
    border-bottom: 3px dotted #000;
    margin-left: 5px;
    margin-bottom: 4px;
  }
}
