.editTour,
.addTour {
  .header {
    position: fixed;
    padding: 0;

    .nav__list {
      display: flex;
      align-items: center;
      gap: 40px;
    }

    .nav__btn {
      font-weight: 500;
      color: $chernyy;
      &.active {
        color: $krasnyy;
      }
    }

    .header__btn-exit {
      background-color: $krasnyy;
      color: $belyy;
      padding: 10px 16px;
      border-radius: 30px;
      font-weight: 500;
    }
  }

  .formTour__title {
    font-size: 44px;
    font-weight: 500;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 30px;
  }

  .formTour__section {
    scroll-margin-top: 80px;
    margin-bottom: 80px;

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    label {
      display: block;
      padding-left: 26px;
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 5px;
      color: $seryy-tekst-2;
    }

    input {
      width: 100%;
      border: 1px solid $liniya;
      padding: 10px 5px 11px 26px;
      border-radius: 30px;
      color: $seryy-tekst;
      cursor: pointer;
      transition: border-color 0.3s ease-in, color 0.2s ease-in;

      &:focus {
        border-color: $chernyy;
        color: $chernyy;
      }
    }

    textarea {
      resize: none;
      width: 100%;
      height: 100%;
      line-height: 1.5;
      text-align: justify;
      border: 10px solid $belyy;
      padding-right: 10px;

      @include scrollbar;
    }

    .formTour__section-title {
      font-size: 30px;
      margin-bottom: 30px;
    }

    .formTour__form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 35px;

      .formTour__field {
        display: flex;
        flex-direction: column;
      }

      .formTour__btn {
        grid-column: 2/3;
        background-color: $krasnyy;
        color: $belyy;
        padding: 11.5px;
        border-radius: 30px;
        text-transform: uppercase;
        font-weight: 500;
      }
    }

    .formTour__field {
      grid-column: 1/4;

      .formTour__field-inputs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
      }

      .formTour__field-row {
        display: flex;
        flex-direction: column;
        gap: 30px;

        // input {
        //   width: 100%;
        // }
      }

      .formTour__field-detail {
        display: flex;
        align-items: flex-end;
        gap: 10px;

        div {
          width: 100%;
        }

        button {
          border: 1px solid $chernyy;
          padding: 5px 10px;
          border-radius: 30px;
          margin-bottom: 5px;
          transition: background-color 0.2s ease-in, color 0.2s ease-in,
            filter 0.2s ease-in;

          &:hover {
            background-color: $chernyy;
            color: $belyy;
          }

          &:active {
            filter: brightness(90%);
          }
        }
      }

      .formTour__field-btns {
        display: flex;
        align-items: center;
        gap: 20px;

        button {
          width: 100%;
          padding: 10px;
          border-radius: 30px;
          font-weight: 500;
          color: $belyy;
        }

        .formTour__field-btn--add {
          background-color: $krasnyy;
          transition: background-color 0.2s ease-in, filter 0.2s ease-in;
          &:hover {
            background-color: #dd1a21;
          }

          &:active {
            filter: brightness(90%);
          }
        }

        .formTour__field-btn--remove {
          background-color: $chernyy;
          transition: background-color 0.2s ease-in, filter 0.2s ease-in;

          &:hover {
            background-color: #2e2b2b;
          }

          &:active {
            filter: brightness(90%);
          }
        }

        .formTour__all-btn--add {
          background-color: $belyy;
          border: 2px solid $krasnyy;
          color: $chernyy;
          transition: background-color 0.2s ease-in, color 0.2s ease-in;

          &:hover {
            background-color: $krasnyy;
            color: $belyy;
          }
        }
      }

      .formTour__block-btn {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 30px;

        button {
          grid-column: 2/3;
          background-color: $belyy;
          border: 2px solid $krasnyy;
          padding: 10px;
          border-radius: 30px;
          font-weight: 500;
          transition: background-color 0.2s ease-in, color 0.2s ease-in;

          &:hover {
            background-color: $krasnyy;
            color: $belyy;
          }
        }
      }
    }

    .formTour__dropdown {
      position: relative;
      border: 1px solid $liniya;
      padding: 10px 5px 11px 26px;
      border-radius: 30px;
      color: $seryy-tekst;
      cursor: pointer;
      transition: border-color 0.2s ease-in, color 0.2s ease-in;

      img {
        opacity: 0.5;
        transition: opacity 0.2s ease-in;
      }

      &.focus {
        border-color: $chernyy;
        color: $chernyy;

        img {
          opacity: 1;
        }
      }

      .formTour__dropdown-value {
        display: flex;
        gap: 5px;
      }

      .formTour__dropdown-list-wrapper {
        position: absolute;
        top: 48px;
        left: 0;
        width: 100%;
        border-radius: 20px;
        border: 1px solid $chernyy;
        background-color: $belyy;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in, visibility 0.2s ease-in,
          box-shadow 0.2s ease-in;

        &.open {
          opacity: 1;
          visibility: visible;
          box-shadow: 0 4px 20px 0 rgba(43, 43, 51, 0.2);
        }
      }

      .formTour__dropdown-list {
        display: flex;
        flex-direction: column;
        padding: 10px 0;

        .formTour__dropdown-item {
          padding: 5px 0px 5px 26px;

          &:hover {
            background-color: #f3f1ff;
          }
          &.active {
            background-color: #f3f1ff;
          }
          &:active {
            filter: brightness(95%);
          }

          img {
            margin-left: 5px;
          }
        }
      }
    }
  }

  .formTour__basic {
    .formTour__field {
      grid-column: inherit;
    }

    .formTour__field-price {
      grid-column: 1/4;

      .formTour__price-inputs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
        div {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .formTour__images {
    .formTour__images-field-row {
      grid-column: 1/4;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 35px;

      input {
        width: 100%;
      }
    }
  }

  .formTour__all {
    .formTour__field {
      grid-column: inherit;
      gap: 30px;
      input {
        width: 100%;
      }
    }

    .formTour__all-advantages {
      height: 100%;
      margin-bottom: 16px;

      .formTour__all-textarea {
        border: 1px solid $liniya;
        border-radius: 30px;
        padding: 15px;
        height: 100%;
        min-height: 200px;
      }
    }

    .formTour__field-all {
      grid-column: 2/4;
    }
  }
}
