.form {
  position: fixed;
  top: 150px;
  right: 20%;
  background-color: $belyy;
  width: 100%;
  max-width: 352px;
  height: 604px;
  border-radius: 30px;
  box-shadow: 0 4px 20px 0 rgba(43, 43, 51, 0.2);
}

.form__container {
  max-width: 352px;
  width: 100%;
  padding: 32px 30px 36px 40px;
}

.form__header {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 48px;
}

.form__title {
  font-size: 20px;
  font-weight: 800;
}

.form__form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 119px;

  input {
    font-weight: 700;
    width: 100%;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;

    width: 352px;
    height: 1px;

    background-color: $liniya;
    left: -40px;
    top: -16px;
  }

  .form__content {
    padding: 0 40px;
    padding-bottom: 20px;
    padding-top: 36px;

    .form__content-top {
      position: relative;
      margin-bottom: 56px;

      strong {
        display: block;
        text-align: center;
        margin-bottom: 20px;
      }

      &::before {
        position: absolute;
        content: "";
        display: block;

        width: calc(100% + 80px);
        height: 1px;

        background-color: $liniya;
        top: calc(100% + 32px);
        left: -40px;
      }
    }
    .form__content-list {
      display: flex;
      flex-direction: column;
      gap: 13px;
      li {
        display: flex;
        justify-content: space-between;
      }
      .form__list-input-block {
        display: flex;
        align-items: center;
        gap: 10px;
        input {
          width: 26px;
          height: 26px;
        }
        span {
          font-weight: 700;
        }
      }
    }
  }
}

.form__block {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;

  .form__block-span {
    font-weight: 700;
    width: 100%;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;

    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url(@/assets/icons/arrow-bottom.svg);
    width: 13px;
    height: 7px;
    pointer-events: none;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;

    width: 352px;
    height: 1px;

    background-color: $liniya;
    left: -40px;
    bottom: -16px;
  }

  .form__block-btn-block {
    max-width: 144px;
    margin: 0 auto;
  }
}

.form__data {
  width: 100% !important;
  @include datePicker;

  .form__data-value {
    width: 100%;
    cursor: pointer;
  }

  input {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  .react-datepicker-wrapper {
    height: 0;
  }
  .custom-calendar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px 0 rgba(43, 43, 51, 0.2);
    border-radius: 30px;
    width: 380px !important;
    left: -72px;
    top: 0;
    background-color: $belyy;

    .extra-content {
      width: 100%;

      .extra-content__top {
        background-color: $seryy-fon;
        padding-left: 20px;
        overflow-x: auto;
        max-width: 380px;

        &::-webkit-scrollbar {
          display: none;
        }

        .extra-content__item {
          flex-shrink: 0;
          padding: 8px 10px;
          margin: 21px 0;
          background-color: $belyy;
          border: 1px solid $liniya;
          font-size: 12px;
          font-weight: 300;

          &.open {
            outline: 1px solid $fioletovyy;
            border-color: $fioletovyy;
          }

          button {
            strong {
              font-size: 14px;
              font-weight: 700;
            }
          }
        }
      }

      .extra-content__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        span {
          font-size: 14px;
          font-weight: 300;
          strong {
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }
  }

  .react-datepicker-popper {
    width: 100%;
    left: 50% !important;
    transform: translateX(-50%) !important;
    line-height: inherit;
  }

  .react-datepicker__month-container {
    width: 100% !important;
  }

  .react-datepicker__current-month {
    height: 19px;
    text-align: center;
  }
}

.form__tourists {
  position: relative;

  .form__tourists-dropdown {
    width: 352px;
    position: absolute;
    top: 34px;
    left: -72px;
    background-color: $belyy;
    border-radius: 30px;
    box-shadow: 0 4px 20px 0 rgba(43, 43, 51, 0.2);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in, visibility 0.2s ease-in;

    &.open {
      visibility: visible;
      opacity: 1;
    }
    .form__tourists-content {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 32px 40px 20px 40px;

      &::before {
        position: absolute;
        content: "";
        display: block;

        width: 352px;
        height: 1px;

        background-color: $liniya;
        top: 96px;
        left: 0px;
      }
    }

    .form__tourists-content-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 32px;
      margin-bottom: 20px;

      span {
        color: $seryy-tekst-2;
      }

      .form__tourists-block {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9px;
        button {
          width: 32px;
          height: 32px;
          font-weight: 500;
          border: 1px solid $liniya;
          border-radius: 50%;
        }
        strong {
          width: 20px;
          text-align: center;
        }
      }
    }
  }
}

.form__room {
  position: relative;

  .form__room-dropdown {
    position: absolute;
    border-radius: 30px;
    top: 34px;
    left: -72px;
    width: 448px;
    background-color: $belyy;
    box-shadow: 0 4px 20px 0 rgba(43, 43, 51, 0.2);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in, visibility 0.2s ease-in;

    &.open {
      visibility: visible;
      opacity: 1;
    }
  }
}

.form__food {
  position: relative;

  .form__food-dropdown {
    position: absolute;
    border-radius: 30px;
    top: 34px;
    left: -72px;
    width: 396px;
    background-color: $belyy;
    box-shadow: 0 4px 20px 0 rgba(43, 43, 51, 0.2);
    z-index: 100;
    visibility: visible;
    opacity: 1;
  }
}

.form__departure {
  position: relative;

  .form__departure-dropdown {
    position: absolute;
    border-radius: 30px;
    top: 34px;
    left: -72px;
    width: 396px;
    background-color: $belyy;
    box-shadow: 0 4px 20px 0 rgba(43, 43, 51, 0.2);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in, visibility 0.2s ease-in;

    &.open {
      visibility: visible;
      opacity: 1;
    }

    .form__list-span-block {
      display: flex;
      flex-direction: column;
      gap: 6px;
      span:last-child {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

.form__footer {
  display: flex;
  flex-direction: column;
  gap: 12px;

  button {
    max-width: 217px;
    margin: 0 auto;
  }
}

.form__result {
  font-size: 22px;
  text-align: center;
}
