.tours,
.hotTours {
  .main {
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
  }

  .main__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .main__title {
    font-weight: 500;
    font-size: 44px;
    text-transform: uppercase;
    span {
      font-size: 16px;
      font-weight: 300;
      margin-left: 7px;
    }
  }

  input[type="checkbox"] {
    display: none;
  }
  .main__filter {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000030;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.2s ease-in, visibility 0.2s ease-in;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  .main__filter-content {
    position: absolute;
    width: 480px;
    height: 100%;
    top: 0;
    right: -480px;
    z-index: 998;
    background-color: $belyy;
    transition: transform 0.2s ease-in;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background-color: $seryy-fon;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $seryy-tekst;
      border-radius: 10px;
    }
  }

  .main__filter-content.active {
    transform: translateX(-100%);
  }

  .main__filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 34px 44px 50px 32px;
  }

  .main__filter-title {
    font-size: 24px;
    font-weight: 500;
  }

  .main__filter-close {
    position: relative;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid $liniya;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $liniya;
      border-radius: 10px;
      width: 13px;
      height: 2px;

      &:first-child {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:last-child {
        transform: translate(-50%, -50%) rotate(+45deg);
      }
    }
  }

  label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    margin-left: 26px;
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 14px;

      img {
        width: 13px;
        height: 13px;
      }

      &::before {
        position: absolute;
        display: block;
        content: "";

        width: 26px;
        height: 26px;
        border: 2px solid $liniya;
        border-radius: 50%;
        left: -36px;
        top: 50%;
        transform: translateY(-50%);
      }

      &::after {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: $fioletovyy;
        border-radius: 50%;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        visibility: hidden;
      }
    }

    input[type="checkbox"]:checked + span::after {
      visibility: visible;
    }
    input[type="checkbox"]:checked + span::before {
      border: 2px solid $fioletovyy;
    }
  }

  .main__block-filter {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-bottom: 40px;

    .main__filter-amenities-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 20px;
      margin-bottom: 23px;
      h3 {
        margin-bottom: 0;
      }
      button {
        background-color: $krasnyy;
        padding: 10px;
        border-radius: 30px;
        width: 100%;
        max-width: 200px;
        color: $belyy;
        transition: background-color 0.2s ease-in;

        &:hover {
          background-color: #dd1a21;
        }

        &:active {
          filter: brightness(105%);
        }
      }
    }

    h3 {
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 23px;
    }

    p {
      font-size: 14px;
      display: flex;
      align-items: center;
      span {
        display: block;
        text-align: center;
        margin: 0 6px;
        font-size: 14px;
        width: 38px;
        height: 38px;
        border: 2px solid $liniya;
        border-radius: 10px;
        padding: 9px 0;
      }
    }
  }

  .no-results {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
  }

  .range-slider {
    width: 300px;
    height: 26px;
    border-radius: 3px;
    margin-bottom: 12px;
  }

  .slider-track {
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $liniya;
    border-radius: 3px;
  }

  .slider-track-1 {
    background-color: $fioletovyy;
  }

  .slider-thumb {
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 26px;
    background-color: $belyy;
    border: 3px solid $liniya;
    border-radius: 50%;
  }

  .slider-thumb.active {
    outline: none;
    border-color: $fioletovyy;
  }

  .slide-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
