.formAdmin {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $belyy;
  top: 0;
  left: 0;
  z-index: 1000;

  .formAdmin__content {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    padding-top: 10%;

    h2 {
      text-align: center;
      font-weight: 500;
      font-size: 44px;
      text-transform: uppercase;
    }
  }

  .formAdmin__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 20px;

    input {
      width: 100%;
      border: 1px solid $liniya;
      padding: 10px 0;
      padding-left: 15px;
      border-radius: 30px;
    }

    .formAdmin__btn-entry {
      margin-top: 60px;
      max-width: 175px;
      width: 100%;
      background-color: $krasnyy;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      color: $belyy;
      padding: 12px 0;
      border-radius: 30px;
    }
  }
}
