.newsPage {
  .hero {
    min-height: 490px;
  }
  .hero__title {
    font-size: 44px;
    max-width: 800px;
  }
  .news__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 40px 0;
  }
  .news__item {
    display: flex;
    gap: 30px;
  }
  .news__item-title {
    font-weight: 500;
    margin-bottom: 20px;
  }
  .news__item-text {
    font-weight: 300;
    line-height: 1.64;
  }
  .news__item-img {
    width: 100%;
  }
}
